.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  
}
.firstFields {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.nameSchole {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px;
}

.ThidsFields {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between
}
.LastFields {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between
}
.btnMain {
    width: 300px
}
.group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Attention {
    padding: 12px;
    background: rgb(233, 174, 174);
}
.Attention > span {
    font-weight: 600;
}