.timeRange {
    display: flex;
    gap: 10px;
    border: 1px solid rgb(230, 227, 227);
    border-radius: 5px;
    height: 35px;
    align-items: center;;
    justify-content: space-around;
    padding: 0 10px;
    width: 180px;
}
.middleText {
    background-color: rgb(133, 122, 122);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: white;
}
.time {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}